* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: mediumorchid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: rgb(160, 187, 211);
  /* font-size: 20px; */
  /* font-weight: bold;
   */
}

.header a {
  color: azure;
  text-decoration: none;
  /* font-size: 20px; */
  padding: 5px;
}
